<div class="task">
    <div class="task-container">
        <div class="task-list scroll-bar">
            <div *ngIf='!task' class='spinner'>
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf='taskNum' class='task-num'>
                {{taskNum}} Tasks
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Add new task</mat-label>
                <input matInput [formControl]='newTask' (keyup)='addTask($event)'>
            </mat-form-field>
            <div class="scroll-bar">
                <div class="task-item" *ngFor='let item of task'>
                    <p>{{item.title}}</p>
                    <button mat-raised-button (click)='deleteTask(item.id)'>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>