.task {
    padding: 1rem;
}

.task-container {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-workspace {
    display: flex;
    flex: 1;
}

.task-workspace > * {
    padding: 0 3rem;
}

.task-edit {
    flex: 1;
    padding: 1rem 0;
}

.task-num {
    font-size: 1.5rem;
    padding: 1rem;
}

.task-list {
    display: flex;
    flex-direction: column;
}

.task-item {
    display: flex;
    padding: 1rem;
    cursor: pointer;
}

.time {
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.task-item:hover {
    border-radius: 10px;
    border-bottom: 1px solid teal;
}

.task-item p {
    width: 30rem;
    display: flex;
    align-items: center;
}

.scroll-bar {
    height: 35rem;
}

.task-edit-group {
    background-color: teal;
    padding: 2rem;
    border-radius: 16px;
}

.task-edit-group > p {
    font-size: 2rem;
    padding: 1rem 0;
    color: white;
}

.task-edit input {
    caret-color: white;
    background-color: inherit;
    color: white;
    font-size: 1.5rem;
    padding: .5rem 0;
    border-bottom: 1px white solid;
    width: 25rem;
}

.task-edit textarea {
    caret-color: white;
    background-color: inherit;
    color: white;
    font-size: 1.5rem;
    padding: .5rem 0;
    border-bottom: 1px white solid;
    width: 25rem;
    margin-top: 1rem;
}

.input-row {
    display: flex;
}

.input-row p {
    color: rgb(200, 240, 200);
    width: 10rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.task-edit .button-wrapper {
    padding: 1rem 0;
}

