.dialog {
    padding: 1rem;
}

.dialog-item { 
    display: flex;
}

.dialog-item p {
    width: 15rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button-wrapper button {
    margin: 1rem;
}