.admin-console {
    padding: 1rem;
}

.admin-console-container{
    display: flex;
}

.admin-console-container > * {
    flex: 1;
}

.user-list {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 3rem;
}

.user-list-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.user-item {
    display: flex;
}

.user-item p {
    width: 15rem;
    display: flex;
    align-items: center;
}

.user-item * {
    margin-right: 1rem;
    margin-top: 1rem;
}

.bold {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.bold * {
    border-bottom: 1px solid teal;
}

.input-header {
    font-size: 2rem;
    margin: 1rem 0;
}

.user-info {
    display: flex;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.user-info * {
    margin-right: 1rem;
    width: 20rem;
}

.input-row * {
    width: 20rem;
}

.invalid-username {
    display: flex;
}

.invalid-username p {
    padding: .5rem 0;
    color: red;
}