.login {
    padding: 1rem;
}

.login-container {
    display: flex;
    padding: 2rem;
}

.login-container p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.login-row {
    display: flex;
}

.login-row * {
    width: 20rem;
    margin-right: 1rem;
}

.invalid-user {
    padding: .5rem 0;
    color: red;
}

.login-section {
    flex: 1;
    padding: 1rem 2rem;
}

@media (max-width: 1500px) {
    .login-container {
        flex-direction: column;
    }
}