<div class="home">
    <div class="home-container">
        <div class="home-row">
            <div class="home-row-wrapper">
                <div class="home-img">
                    <img src="../../../assets/homepage/chart-3186077_1280.png" alt="home-img">
                </div>
                <div class="home-desc">
                    <app-lorem></app-lorem>
                </div>
            </div>
        </div>
        <div class="home-row">
            <div class="home-row-wrapper">
                <div class="home-desc">
                    <app-lorem></app-lorem>
                </div>
                <div class="home-img">
                    <img src="../../../assets/homepage/email-4284157_1280.png" alt="home-img">
                </div>
            </div>
        </div>
        <div class="home-row">
            <div class="home-row-wrapper">
                <div class="home-img">
                    <img src="../../../assets/homepage/flat-2126879_1280.png" alt="home-img">
                </div>
                <div class="home-desc">
                    <app-lorem></app-lorem>
                </div>
            </div>
        </div>
    </div>
</div>